{% extends 'base.html' %}
{% load static %}

{% block title %}Contraseña cambiada{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}?v=1.5">
{% endblock %}

{% block content %}
<div class="block-background">
    <div class="login-container">
        <h2>Contraseña cambiada con éxito</h2>
        <p>Tu contraseña ha sido actualizada correctamente.</p>

        <div class="links">
            <p><a href="{% url 'account_login' %}"  class="loginbuttonkeydone">Iniciar sesión</a></p>
        </div>
    </div>
</div>
<style>
    .loginbuttonkeydone{
        display: block;
        width: 100%;
        background-color:rgb(33, 37, 41);
        color:#ffffff;
        padding: 10px;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none; 
    }
</style>
{% endblock %}
