{% extends 'base.html' %}
{% load static %}

{% block title %}Enlace enviado{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="block-background">
    <div class="login-container">
        <h2>Revisa tu correo</h2>
        <p>Te hemos enviado un enlace para restablecer tu contraseña. Por favor revisa tu bandeja de entrada.</p>

        <div class="links">
            <p><a href="{% url 'account_login' %}">Volver al inicio de sesión</a></p>
        </div>
    </div>
</div>
{% endblock %}
