{% extends 'base.html' %} {% block title %}Pago{% endblock %} {% block content %}

<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="card shadow">
				<div class="card-header bg-success text-white">Pago del pedido</div>

				<div class="card-body text-center">
					<div class="display-1 mb-3">💳</div>

					<h3 class="fw-bold">Simulación de pago</h3>

					<p class="text-muted">Para esta demostración el pago será simulado.</p>

					<hr />

					<h4 class="text-success">Total a pagar</h4>

					<h2 class="fw-bold">S/ {{ order.total|floatformat:2 }}</h2>

					<div class="alert alert-info mt-4">
						<strong>Modo demostración</strong><br />

						Al presionar el botón se registrará el pedido como
						<strong>Pagado</strong>.
					</div>

					<form method="post">
						{% csrf_token %}

						<button type="submit" class="btn btn-success btn-lg w-100">Confirmar pago</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
