.tyc-container {
    max-width: 900px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fffdfd;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    color: #212529;
}

.section-title {
    font-size: 2.2rem;
    font-size: clamp(1rem, 2vw, 2.2rem);
    color: #ff4081;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.section-subtitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #212529;
    font-weight: bold;
}

.section-content {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #212529;
}

.text-bold {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #212529;
    font-weight: bold;
}
